name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - name: setup node and pnpm
      uses: dafnik/setup-node-pnpm@v1
    - run: pnpm i
    - run: pnpm run build
